<h1>All Visits</h1>
<% if can? :create, @visit %>
  <%= link_to 'New Visit', new_visit_path %>
<% end %>
<br />
<br />
<table>
  <thead>
    <tr>
      <th>Visit_No</th>
      <th>Patient</th>
      <th>Doctor - Speciality</th>
      <th>Problem</th>
      <th>Date</th>
      <th>Appointment given?</th>
      <th>Show more...</th>
    
    </tr>
  </thead>
  
    <% @visits.each do |visit| %>
    <% if current_user.admin? || current_user.id == visit.pat.id || current_user.id == visit.doc.id %>
    <tbody>
    <tr>
      <td><%= visit.id %></td>
      <td><%= visit.pat.fullname %></td>    
      <td><%= visit.doc.fullname %> - <%= visit.doc.category.speciality %></td>
      <td><%= visit.note %></td>
      <td><%= visit.date %></td>
      <td>Yes/No</td>
      <td><%= link_to 'Show more', visit_path(visit) %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
<br />
