<h1>Visit No:<%= @visit.id %> Card</h1>

    <p>Patient: <%= @visit.pat.fullname %></p>
    <p>Doctor: <%= @visit.doc.fullname %> - <%= @visit.doc.category.speciality %></p>
    <p>Problem: <%= @visit.note %></p>
    <p>Date: <%= @visit.date %></p>
    <p>*   *   *   *   *</p>
    
    <%= link_to 'Show appointment', appointment_path %>
    <br />
    <% if current_user.id == @visit.doc.id %>
      <%= link_to 'Make appointment', new_appointment_path(@appointment) %>
    <% end %>
   <br />
    <%= link_to 'Visits List', visits_path %><br />
   