<h1>Visit No:<%= @visit.id %> Card</h1>

    <p>Patient: <%= @visit.pat.fullname %></p>
    <p>Doctor: <%= @visit.doc.fullname %> - <%= @visit.doc.category.speciality %></p>
    <p>Problem: <%= @visit.note %></p>
    <p>Date: <%= @visit.date %></p>
    <p>*   *   *   *   *</p>
    Button "check doctor`s appointment"   
    <br />
    <%= link_to '<-- Back', root_path%>