<p>/users/index/_doctors_list</p>
<h1>Our Doctors</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Category</th>
      <th></th>
      <th>Mobile number</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.doctor? %>
      <tr>
        <td><%= link_to user_path(user) do %>
               <%= user.fullname %>
            <% end %>
        </td>
       <td><% if user.category != nil %>
            <%= user.category.speciality %>
              <% else %>
              <%= '' %>
            <% end %>
        </td>
        <td>
          <% if current_user.id != user.id %>
            <%= button_to 'Book Doctor', book_doctor_path(user) %>
         <% end %>
        </td>
        <td><%= user.mobile_no %></td>
        <td><%= link_to 'Show', user %></td>
     </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
