<h1>All Users</h1>

<% if can? :create, @user %>
  <%= link_to 'New User', new_user_path %>
<% end %>

<% if current_user.admin? %><h2>Full Users List</h2>
<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Mobile number</th>
      <th>Address</th>
      <th>Email</th>
      <th>Role</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user_path(user) do %>
               <%= user.fullname %>
            <% end %>
        </td>
        <td><%= user.mobile_no %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td><% if user.category != nil %>
            <%= user.category.speciality %>
              <% else %>
              <%= '' %>
            <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% elsif current_user.patient? %>
  <p>Doctor`s List</p>
<% else %>
  <p>Patients List</p>
<% end %>

