<div><%= @user.role.name %>  page<h1><%= @user.fullname %></h1> profile</div>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @user.mobile_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role.name %>
</p>

<p>
  <strong>Joined on:</strong>
  <%= @joined_on %>
</p>

<p>
  <strong>Last logged in on:</strong>
  <%= @last_login %>
</p>

<p>
  <strong>No. times logged in:</strong>
  <%= @user.sign_in_count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>
<br>

<small>It needs to add next time</small>

<p>Find doctor</p>
<p>My vizits</p>
<p>My assignments</p>
<br>


<%= link_to 'Back', root_path %></p>
<br>
<br>
<br>

<p><% if @user.role.name == 'Patient'%>
       <strong>it`ll render partial for Patient page</strong>
    <% elsif @user.role.name == 'Doctor' %>
       <%= link_to "Doctor page", '#' %>
    <% else %>
      <%= link_to "Admin page", '#' %>
    <% end %>
</p>
