<div>Profile  page<h2><%= @user.fullname %></h2></div>
<% if current_user != @user && @user.doctor? %>
  <%= button_to 'Book Doctor' %></td>
<% end %>
<h3>General Info</h3>
<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @user.mobile_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
<% if @current_user&.admin? %>
  <strong>Role:</strong>
  <%= @user.role.name %>
  <% end %>
</p>

<p>
<% if @user.role.name == 'Doctor'%>
  <strong>Speciality:</strong>
  <%= @user.category.speciality %>
  <% end %>
</p>

<p>
  <strong>Joined on:</strong>
  <%= @joined_on %>
</p>

<p>
  <strong>Last logged in on:</strong>
  <%= @last_login %>
</p>

<p>
  <strong>No. times logged in:</strong>
  <%= @user.sign_in_count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>
<br>


<p><% if @user.role.name == 'Patient'%>
       <%= render 'patient_form' %>
    <% elsif @user.role.name == 'Doctor' %>
       <%= render 'doctor_form' %>
    <% else %>
      <%= link_to "Admin page", '#' %>
    <% end %>
</p>
