<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<ol>
  <strong>Associated users:</strong>
  
  <% @associated_users.each do |au| %>
     <li><%= link_to user_path(au) do %>
        <%= au.fullname %>
      <% end %>
      </li>
      
  <% end %>
  </ol>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
