<p id="notice"><%= notice %></p>
<h3>Doctor`s <%= @appointment.doc.fullname %> appointment</h3>
<p>For: <%= @appointment.pat.fullname %></p>
<p>Made: <%= @appointment.date_opening %></p>
<p>Recomended: <%= @appointment.recomendation %></p>
 <p>Visit_No: <%= @appointment.visit.id %></p>
<%= link_to 'Back', visits_path %>