<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date_opening</th>
      <th>Recomendations</th>
      <th>Doctor</th>
      <th>Patient</th>
      <th>Visit_No</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date_opening %></td>
        <td><%= appointment.recomendation %></td>
        <td><%= appointment.doc.fullname %></td>
        <td><%= appointment.pat.fullname %></td>
        <td><%= appointment.visit.id %><td>
        <td><%= link_to 'Show', appointment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
