<p id="notice"><%= notice %></p>

<p>
  <strong>Speciality:</strong>
  <%= @category.speciality %>
</p>

<ul class="">Doctors List:</ul>
<% @category.users.each do |user| %>
     <p><%= link_to user.fullname, user_path(user) %> | 
     <%= button_to "Book doctor #{@user.fullname}", book_doctor_path, 
       method: "POST"  %></p>
       <% if @current_user.doctors.include?(@user) %>
   <h5><%= button_to "UnBook #{@user.fullname}",     
       unbook_doctor_path, method: "POST" %>
<% end %>
<% end %>


<br>
<br>
<br>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back to Categories list', categories_path %>
